.root {
    -accent: #3f51b5;
    -white: #ffffff;
}


.logo {
    -fx-background-image: url("../images/adv-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 300px;
    -fx-opacity: 0.2;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.active-notification{
    -fx-text-fill: -white;
    -fx-background-color: -accent;
}

.status-bar .label{
    -fx-text-fill: -white;
}


.tool-bar .button .glyph-icon {
    -fx-text-fill: red;

}

.glyph-icon {
    -fx-text-fill: red;

}