.progress-bar .bar {
    -fx-background-color: -grey-light;
    -fx-background-insets: 0.1em;
}

.slider .thumb {
    -fx-focus-color: -accent;
}

.text-area {
    -fx-focus-color: -accent;
}

.node-index {
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
}